/* container */
.container{
    max-width: 1000px;
    margin: 0 auto;
     
}

/* row */
.row{position: relative;
    margin: 0 15px;padding:15px 0;
    border-bottom: 1px solid #EBEBEB;
}



/* header */
#header{}

#header nav {height: 50px;}

#header .header-data {
font-size: 14px;
font-weight: 400;
display: block;
margin-bottom: 15px;
color: #A8A8A8;
}

#header .header-title{
font-family: SFNS Display;
font-weight: 600;
font-size: 32px;
}

#header .header-id{
    position: absolute;
    width: 45px;
    height: 45px;
    right: 0;
    top:50%;
    transform: translateY(-50%);
    background-color: #fff;
    background: url(../img/profile_img.png);
    background-size: cover;
    border-radius: 50%;
    border: 1px solid rgb(82, 76, 76);
}

/* //header */

/* music */
section{}



/* besetM */

section .bestM .best{}
section .bestM .best .best-title{margin-bottom: 15px;}
section .bestM .best .best-title .bt-stit{color:#F05F5F;font-size: 12px;}
section .bestM .best .best-title .bt-title{font-size: 18px;color: #242424;font-weight: 600;padding-bottom: 3px;}
section .bestM .best .best-title .bt-desc{color: #A8AEB6;font-size: 20px;font-weight:300;}

/* recentM */

section .recentM{}
section .recentM h2{font-size: 20px;font-weight: 600;color: #242424;margin-bottom: 15px;}
section .recentM .recent_wrap{display: flex;}
section .recentM .recent{}
section .recentM .recent picture{display:block;margin-bottom: 15px;width: 180px;height: 180px;}
section .recentM .recent .recent-title .rc-title{color:#242424;font-size: 16px;margin-bottom:5px;font-weight: 600;}
section .recentM .recent .recent-title .rc-stit {color: #A8AEB6;font-weight: 400;}

/* nextM */

section .nextM{}
section .nextM h2{font-size: 20px;font-weight: 600;color: #242424;margin-bottom: 15px;}
section .nextM .next_wrap{}
section .nextM .next_wrap .next{display: flex;margin-bottom:15px;position: relative;align-items: center;padding-bottom: 15px;}
section .nextM .next_wrap .next .next_img{min-width:100px;margin-right: 15px;}
section .nextM .next_wrap .next .next_txt{max-width: 200px;}
section .nextM .next_wrap .next .next_txt .nt-stit{display: block;color:#F05F5F;font-size: 12px;margin-bottom:5px;}
section .nextM .next_wrap .next .next_txt .nt-title{font-size: 16px;color: #242424;font-weight: 600;margin-bottom:10px;}
section .nextM .next_wrap .next .next_txt .nt-desc{color: #A8AEB6;font-size:12px;font-weight:300;overflow: hidden;
text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient:vertical /* 2줄효과 + ...으로 표현 */
}
section .nextM .next_wrap .next::after{
    content: "";
    position: absolute;
    right:0;
    bottom:0;
    width:calc(100% - 115px);
      height: 1px;
    background-color: #EBEBEB;
}



/* media */
@media (max-width:1020px){
    .container{
       width: 100%;
             }
}

